<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <head>
        <th:block th:replace="~{general/fragmentos :: head}"></th:block>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
    </head>

    <body>
        <div th:replace="~{general/fragmentos :: topnav('audiciones')}"></div>

        <section>
            <div class="container">
                <div th:replace="~{audiciones/fragmentos :: gestionAudiciones}"></div>
            </div>
        </section>

        <th:block th:replace="~{general/fragmentos :: footer}"></th:block>
    </body>
</html>