<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

    <div th:fragment="tablaBandas">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h5>Bandas</h5>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Fecha Ingreso</th>
                    <th>Logo URL</th>
                    <th>Telefono</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="b : ${bandas}">
                    <td th:text="${b.cedula}"></td>
                    <td th:text="${b.nombre}"></td>
                    <td th:text="${#temporals.format(b.fechaIngreso, 'dd/MM/yyyy HH:mm')}"></td>
                    <td th:text="${b.logoUrl}"></td>
                    <td th:text="${b.telefono}"></td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>
